body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: black;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.calculator {
width: 50rem;
padding: 5rem;
border-radius: 1rem;
}